[submodule "src/eg_utils"]
	path = src/eg_utils
	url = https://github.com/everguard-inc/eg_utils.git
	branch = dev
[submodule "src/deep_models"]
	path = src/deep_models
	url = https://github.com/everguard-inc/deep_models.git
